.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.header{
  color: #234b8d;
  font-family: 'HelveticaNeueW02-57CnMd',Arial,sans-serif;

  margin-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  box-shadow: 0 0 20px rgba(58,80,72,0.4);
}

.betrag{
  text-align: center;
  color: #234b8d;
  font-family: 'HelveticaNeueW02-57CnMd',Arial,sans-serif;
  margin-top: 2vh;
  line-height: 1.6em
}

mat-form-field + mat-form-field{
  margin-left: 10%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
  "anrede ."
  "name vorname"
  "firma firma"
  "str plz"
  "wohort tele"
  "email .";
}
.anrede { grid-area: anrede; }
.name { grid-area: name; }
.vorname { grid-area: vorname; }
.firma { grid-area: firma; }
.str { grid-area: str; }
.plz { grid-area: plz; }
.wohort { grid-area: wohort; }
.tele { grid-area: tele; }
.email { grid-area: email; }


.inhalt{
  padding-left: auto;
  padding-right: auto;
}



